body {
    /*font-family: "BentonSans-Bold", Helvetica, Arial, sans-serif;*/
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

#container {
    width: 100%;
    /*border: 1px solid red;*/
}

#header {
    /*border: 1px solid black;*/
    /*display: flex;*/
    /*z-index: 1;*/
    /*width: 98.75%;*/
    /*overflow: hidden;*/
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 6.563rem; /*105px*/
    top: 0rem;
    position: fixed;
    overflow: visible;
}

#logo /*#header*/ {
    /*border: 1px solid red;*/
    display: inline-block;
    width: 30%;
    height: 6.563rem; /*105px*/
    overflow: hidden;
}

#header-img {
    /*width: auto;*/
    height: 100%;
}

#nav-bar {
    /*border: 1px dotted green;*/
    /*display: inline-block;*/
    /*right: 0;*/
    /*overflow: hidden;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 6.563rem; /*105px*/
    transition: height 0.5s;
    float: right;
}

.nav-link {
    /*border: 1px dotted blue;*/
    /*float: right;*/
    font-size: 1.875rem; /*30px*/
    text-decoration: none;
    text-align: right;
    margin-left: 1.875rem; /*30px*/
    margin-right: 0.625rem; /*10px*/
    padding-right: 1.25rem; /*20px*/
}

#top-line {
    margin-top: 5rem; /*80px*/
}

.hidden {
    display: none;
}

/*Adjust anchor links for fixed header*/
:target:before {
    content:"";
    display:block;
    height:6.563rem; /*105px*/ /* fixed header height*/
    margin:-6.563rem 0 0; /*105px 0 0*/ /* negative fixed header height */
}

/*.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}*/

.topnav .icon {
    display: none;
    font-size: 2.5rem; /*40px*/
    color: black;
}

#main {
    /*border: 1px solid blue;*/
    /*position: static;*/
    text-align: center;
    width: 100%;
    margin-top: 8.438rem; /*135px*/
}

hr {
    color: hsl(0, 0%, 32%);
    width: 85%;
}

#email {
    width: 25%;
    max-width: 18.75rem; /*300px*/
}

label, input, button {
    margin-top: 0.3125rem; /*5px*/
    margin-bottom: 0.3125rem; /*5px*/
}

ul {
    list-style-type: none;
    padding: 0;
}

.btn {
    display: inline-block;
    background-color: hsl(174, 90%, 34%);
    border: none;
    color: white;
    padding: 0.9375rem 2rem; /*15px 32px*/
    text-align: center;
    text-decoration: none;
    font-size: 1rem; /*16px*/
}

.btn:hover {
    background-color: hsl(174, 80%, 15%);
    cursor: pointer;
}

#sign-up, #features, #vision {
    margin-top: 3.438rem; /*55px*/
    margin-bottom: 3.438rem; /*55px*/
}

#video {
    max-width: 100%;
}

/*#submit {
    cursor: pointer;
}*/

.tv-model {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    min-height: 34.38rem; /*550px*/
    margin-top: 1.563rem; /*25px*/
    padding-left: 0.3125rem; /*5px*/
    padding-right: 0.3125rem; /*5px*/
}

.tv-model:hover {
    /*border: 1px solid black;*/
    background-color: hsl(0, 0%, 32%);
    background-size:50%;
    color: white;
}

.tv-model img {
    width: 100%;
}

a:visited {
    color: black;
}


/*Added to style in HTML to pass test
#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}*/

#footer a {
    padding-right: 0.9375rem; /*15px*/
    padding-left: 0.9375rem; /*15px*/
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

/*****Added to style in HTML to pass test*******
@media (min-width: 1037px) {
    .tv-model {
        min-height: 450px;
    }
}*/

@media screen and (max-width: 823px) { /*was 804*/
/*@media (max-width: 804px) {*/
    .topnav a {
        display: none;
        font-size: 1.875rem; /*30px*/
        /*margin-left: 5px;*/
        padding-right: 1.875rem; /*30px*/

    }
    .icon {
        /*margin-bottom: 20px;*/
    }

    .topnav a.icon {
        display: block;
        float: right;
        margin: 1.063rem 0.3125rem 1.25rem; /*17px 5px 20px*/
    }

    .nav-link {
        /*padding-right: 10px;*/
        float: left;
        margin: 0.625rem 0.3125rem 0.625rem 0.3125rem; /*10px 5px 10px 5px*/
        padding: 0.3125rem 1.25rem 0.3125rem; /*5px 20px 5px*/
    }

    .top-link {
        margin-top: 1.25rem; /*20px*/
    }

    #logo {
        width: 50%;
    }

    #nav-bar {
        width: 50%;
        /*float: left;*/
    }

    .tv-model {
        display: block;
        width: 75%;
        min-height: 25rem; /*400px*/
        margin: auto;
        padding-bottom: 2.5rem; /*40px*/
    }

    #email {
        width: 55%;
    }
}

@media screen and (max-width: 823px) {
  /*.topnav.responsive {position: relative;}*/
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: hsl(0, 0%, 90%);
    }

    .topnav.responsive a {
        display: block;
        float: none;
        text-align: right;
        color: hsl(0, 0%, 90%);
    }

    #nav-bar.responsive {
        /*z-index: 1;*/
        /*border: 1px solid black;*/
        /*background-color: hsl(0, 0%, 50%);*/
        /*border: 1px dotted green;*/
        display: inline-block;
        background-color: hsl(0, 0%, 32%);
        height: 75rem; /*1200px*/
    }
}

/*.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}*/



/*@media screen and (min-width: 805px) {
    #main {
        width: 100%;
    }
}*/




/*@media (max-width: 1226px) {
    #logo {
        width: 40%
    }
    #nav-bar {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    #logo {
        width: 25%
    }
    #nav-bar {
        width: 75%;
    }
}*/

/*@media (max-width: 823px) {
    #logo {
        width: 50%
    }
    #nav-bar {
        width: 50%;
    }
}*/